<div class="card mt-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="card bg-success">
            <div class="card-body">
              <h8 class="card-title">SALAO</h8>
              <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_sal_metrics.dbc_vlr_pro }}</p>
              <p class="card-text text-white font-weight-bold display-8"> TCS {{ pedidos_sal_metrics.dbc_tcs }}</p>              
              <p class="card-text text-white font-weight-bold display-8"> TCM {{ pedidos_sal_metrics.dbc_tcm }}</p>                            
              <p class="card-text text-white font-weight-bold display-8"> CMV {{ pedidos_sal_metrics.dbc_vlr_cus }}</p>                                          
              <p class="card-text text-white font-weight-bold display-8"> PAR VND {{ pedidos_sal_metrics.dbc_par }} %</p>                                                                      
              <p class="card-text text-white font-weight-bold display-8"> VND DIA  {{ pedidos_sal_metrics.dbc_vnd_dia }} </p>                                                                                    
              <p class="card-text text-white font-weight-bold display-8"> BAS RED {{ pedidos_sal_metrics.dbc_bas_red }} </p>                                                                                                                
              <p class="card-text text-white font-weight-bold display-8"> BAS ST {{ pedidos_sal_metrics.dbc_bas_st }} </p>                                                                                                  
              <p class="card-text text-white font-weight-bold display-8"> BAS TRI {{ pedidos_sal_metrics.dbc_bas_tri }} </p>                                                                                                                
              <p class="card-text text-white font-weight-bold display-8"> ICMS VLR {{ pedidos_sal_metrics.dbc_icms }} </p>                                                                                    
              <p class="card-text text-white font-weight-bold display-8"> PAR ICMS  {{ pedidos_sal_metrics.dbc_icms_par }} %</p>                                                                                    
              <p class="card-text text-white font-weight-bold display-8"> AE ICMS  {{ pedidos_sal_metrics.dbc_icms_ali }} %</p>                                                                                                  
              <p class="card-text text-white font-weight-bold display-8"> AMORTIZACAO {{ pedidos_sal_metrics.dbc_nfce }}</p>               
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success">
              <div class="card-body">
                <h8 class="card-title">EXPRESS</h8>
                <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_exp_metrics.dbc_vlr_pro }}</p>
                <p class="card-text text-white font-weight-bold display-8"> TCS {{ pedidos_exp_metrics.dbc_tcs }}</p>              
                <p class="card-text text-white font-weight-bold display-8"> TCM {{ pedidos_exp_metrics.dbc_tcm }}</p>                            
                <p class="card-text text-white font-weight-bold display-8"> CMV {{ pedidos_exp_metrics.dbc_vlr_cus }}</p>                                          
                <p class="card-text text-white font-weight-bold display-8"> PAR VND {{ pedidos_exp_metrics.dbc_par }} %</p>         
                <p class="card-text text-white font-weight-bold display-8"> VND DIA  {{ pedidos_exp_metrics.dbc_vnd_dia }} </p>                                                                                                 
                <p class="card-text text-white font-weight-bold display-8"> BAS RED {{ pedidos_exp_metrics.dbc_bas_red }} </p>                                                                                                                                
                <p class="card-text text-white font-weight-bold display-8"> BAS ST {{ pedidos_exp_metrics.dbc_bas_st }} </p>                                                                                                  
                <p class="card-text text-white font-weight-bold display-8"> BAS TRI {{ pedidos_exp_metrics.dbc_bas_tri }} </p>                                                                                                                
                <p class="card-text text-white font-weight-bold display-8"> ICMS VLR {{ pedidos_exp_metrics.dbc_icms }} </p>                                                                                    
                <p class="card-text text-white font-weight-bold display-8"> PAR ICMS  {{ pedidos_exp_metrics.dbc_icms_par }} %</p>                                                                                    
                <p class="card-text text-white font-weight-bold display-8"> AE ICMS  {{ pedidos_exp_metrics.dbc_icms_ali }} %</p>                                                                                                  
                <p class="card-text text-white font-weight-bold display-8"> AMORTIZACAO {{ pedidos_exp_metrics.dbc_nfce }}</p>               
                </div>
            </div>  
      </div>
      <div class="col-md-3">
        <div class="card bg-success">
          <div class="card-body">
            <h8 class="card-title">DELIVERY</h8>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_del_metrics.dbc_vlr_pro }}</p>
            <p class="card-text text-white font-weight-bold display-8"> TCS {{ pedidos_del_metrics.dbc_tcs }}</p>              
            <p class="card-text text-white font-weight-bold display-8"> TCM {{ pedidos_del_metrics.dbc_tcm }}</p>                            
            <p class="card-text text-white font-weight-bold display-8"> CMV {{ pedidos_del_metrics.dbc_vlr_cus }}</p>                                          
            <p class="card-text text-white font-weight-bold display-8"> PAR VND  {{ pedidos_del_metrics.dbc_par }} %</p> 
            <p class="card-text text-white font-weight-bold display-8"> VND DIA  {{ pedidos_del_metrics.dbc_vnd_dia }} </p>             
            <p class="card-text text-white font-weight-bold display-8"> BAS RED {{ pedidos_del_metrics.dbc_bas_red }} </p>                                                                                                                            
            <p class="card-text text-white font-weight-bold display-8"> BAS ST {{ pedidos_del_metrics.dbc_bas_st }} </p>                                                                                                  
            <p class="card-text text-white font-weight-bold display-8"> BAS TRI {{ pedidos_del_metrics.dbc_bas_tri }} </p>                                                                                                                
            <p class="card-text text-white font-weight-bold display-8"> ICMS VLR {{ pedidos_del_metrics.dbc_icms }} </p>                                                                                    
            <p class="card-text text-white font-weight-bold display-8"> PAR ICMS  {{ pedidos_del_metrics.dbc_icms_par }} %</p>                                                                                    
            <p class="card-text text-white font-weight-bold display-8"> AE ICMS  {{ pedidos_del_metrics.dbc_icms_ali }} %</p>                                                                                                                                                                                               
            <p class="card-text text-white font-weight-bold display-8"> AMORTIZACAO {{ pedidos_del_metrics.dbc_nfce }}</p>               
        </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="card bg-success">
            <div class="card-body">
              <h8 class="card-title">TOGO</h8>
              <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_tog_metrics.dbc_vlr_pro }}</p>
              <p class="card-text text-white font-weight-bold display-8"> TCS {{ pedidos_tog_metrics.dbc_tcs }}</p>              
              <p class="card-text text-white font-weight-bold display-8"> TCM {{ pedidos_tog_metrics.dbc_tcm }}</p>                            
              <p class="card-text text-white font-weight-bold display-8"> CMV {{ pedidos_tog_metrics.dbc_vlr_cus }}</p>                                          
              <p class="card-text text-white font-weight-bold display-8"> PAR VND  {{ pedidos_tog_metrics.dbc_par }} %</p>   
              <p class="card-text text-white font-weight-bold display-8"> VND DIA  {{ pedidos_tog_metrics.dbc_vnd_dia }} </p>                                                                                     
              <p class="card-text text-white font-weight-bold display-8"> BAS RED {{ pedidos_tog_metrics.dbc_bas_red }} </p>                                                                                                                
              <p class="card-text text-white font-weight-bold display-8"> BAS ST {{ pedidos_tog_metrics.dbc_bas_st }} </p>                                                                                                  
              <p class="card-text text-white font-weight-bold display-8"> BAS TRI {{ pedidos_tog_metrics.dbc_bas_tri }} </p>                                                                                                                
              <p class="card-text text-white font-weight-bold display-8"> ICMS VLR {{ pedidos_tog_metrics.dbc_icms }} </p>                                                                                    
              <p class="card-text text-white font-weight-bold display-8"> PAR ICMS  {{ pedidos_tog_metrics.dbc_icms_par }} %</p>                                                                                    
              <p class="card-text text-white font-weight-bold display-8"> AE ICMS  {{ pedidos_tog_metrics.dbc_icms_ali }} %</p>                                                                                                                                                                                               
              <p class="card-text text-white font-weight-bold display-8"> AMORTIZACAO {{ pedidos_tog_metrics.dbc_nfce }}</p>               
            </div>
          </div>  
    </div>


    
    </div>
  </div>