<div class="card mt-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="card bg-success">
            <div class="card-body">
              <h8 class="card-title">SALAO</h8>
              <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_sal_metrics.dbc_vlr_pro }}</p>
              <p class="card-text text-white font-weight-bold display-8"> TCS {{ pedidos_sal_metrics.dbc_tcs }}</p>              
              <p class="card-text text-white font-weight-bold display-8"> TCM {{ pedidos_sal_metrics.dbc_tcm }}</p>                            
              <p class="card-text text-white font-weight-bold display-8"> CMV {{ pedidos_sal_metrics.dbc_vlr_cus }}</p>                                          
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success">
              <div class="card-body">
                <h8 class="card-title">EXPRESS</h8>
                <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_exp_metrics.dbc_vlr_pro }}</p>
                <p class="card-text text-white font-weight-bold display-8"> TCS {{ pedidos_exp_metrics.dbc_tcs }}</p>              
                <p class="card-text text-white font-weight-bold display-8"> TCM {{ pedidos_exp_metrics.dbc_tcm }}</p>                            
                <p class="card-text text-white font-weight-bold display-8"> CMV {{ pedidos_exp_metrics.dbc_vlr_cus }}</p>                                          
                </div>
            </div>  
      </div>
      <div class="col-md-3">
        <div class="card bg-success">
          <div class="card-body">
            <h8 class="card-title">DELIVERY</h8>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_del_metrics.dbc_vlr_pro }}</p>
            <p class="card-text text-white font-weight-bold display-8"> TCS {{ pedidos_del_metrics.dbc_tcs }}</p>              
            <p class="card-text text-white font-weight-bold display-8"> TCM {{ pedidos_del_metrics.dbc_tcm }}</p>                            
            <p class="card-text text-white font-weight-bold display-8"> CMV {{ pedidos_del_metrics.dbc_vlr_cus }}</p>                                          
        </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="card bg-success">
            <div class="card-body">
              <h8 class="card-title">TOGO</h8>
              <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_tog_metrics.dbc_vlr_pro }}</p>
              <p class="card-text text-white font-weight-bold display-8"> TCS {{ pedidos_tog_metrics.dbc_tcs }}</p>              
              <p class="card-text text-white font-weight-bold display-8"> TCM {{ pedidos_tog_metrics.dbc_tcm }}</p>                            
              <p class="card-text text-white font-weight-bold display-8"> CMV {{ pedidos_tog_metrics.dbc_vlr_cus }}</p>                                          
            </div>
          </div>  
    </div>


    
    </div>
  </div>