
<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-info">
          <div class="card-body">
            <h5 class="card-title">BASE VND</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_vlr_pro }}</p>
          </div>
        </div>
      </div>      
      <div class="col-md-3">
        <div class="card bg-info">
          <div class="card-body">
            <h5 class="card-title">BASE RED</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_base_red }}</p>         
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-info">
          <div class="card-body">
            <h5 class="card-title">BASE TRI</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_base_tri }}</p>         
           </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-info">
          <div class="card-body">
            <h5 class="card-title">BASE ST</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_base_sub }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-danger">
          <div class="card-body">
            <h5 class="card-title">ICMS</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_tri_icm }}</p>         
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-danger">
          <div class="card-body">
            <h5 class="card-title">PIS</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_tri_pis }}</p>         
           </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger">
          <div class="card-body">
            <h5 class="card-title">COFINS</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_tri_cof }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger">
          <div class="card-body">
            <h5 class="card-title">SIMPLES</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_tri_sim }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-ligth">
          <div class="card-body">
            <h5 class="card-title">VENDA</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_vlr_pro }}</p>         
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-ligth">
          <div class="card-body">
            <h5 class="card-title">TRIBUTOS</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_tri_tot}}</p>         
           </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-ligth">
          <div class="card-body">
            <h5 class="card-title">CMV</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_vlr_cus }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-ligth">
          <div class="card-body">
            <h5 class="card-title">MARGEM BRUTA</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{ pedidos_metrics.dbc_mrg_brt }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


